@using BlazorWebAssembly.TicTacToe.Enums

<div name="MainMenu">
    <h1>Main Menu</h1>
    @if (ChooseDifficulty)
    {
        <div>
            <button class="menu-button" @onclick="() => ChooseDifficulty = false">Back</button>
            <button class="menu-button" @onclick="() => StartGame(GameType.AI,Difficulty.Easy) ">Star Game(Easy) </button>
            <button class="menu-button" @onclick="() => StartGame(GameType.AI,Difficulty.Normal) ">Star Game(Normal)</button>
            <button class="menu-button" @onclick="() => StartGame(GameType.AI, Difficulty.Hard)">Star Game(Hard)</button>

        </div>
    }
    else
    {
        <button class="menu-button" @onclick="() => StartGame()">Start Game(2 Players)</button>
        <button class="menu-button" @onclick="() => ChooseDifficulty = true">Star Game(AI) - WIP </button>
    }
</div>


@code {

    [Inject]
    private NavigationManager NavigationManager { get; set; } = default!;

    private bool ChooseDifficulty = false;

    private void StartGame(GameType type = GameType.Normal, Difficulty difficulty = Difficulty.Normal)
    {
        NavigationManager.NavigateTo($"{NavigationManager.BaseUri}tictactoe/board/{type}/{difficulty}");
    }


}
