@using BlazorWebAssembly.TicTacToe.Enums

<div name="MainMenu">
    <h1>Main Menu</h1>
    <div class="menu-container">
        @if (ChooseDifficulty)
        {
            <button class="menu-button" @onclick="() => ChooseDifficulty = false">Back</button>
            <button class="menu-button" @onclick="() => StartGame(GameType.AI,Difficulty.Easy) ">Start Game(Easy) </button>
            <button class="menu-button" @onclick="() => StartGame(GameType.AI,Difficulty.Normal) ">Start Game(Normal)</button>
            <button class="menu-button" @onclick="() => StartGame(GameType.AI, Difficulty.Hard)">Start Game(Hard)</button>
        }
        else
        {
            <button class="menu-button" @onclick="() => StartGame()">Start Game(2 Players)</button>
            <button class="menu-button" @onclick="() => ChooseDifficulty = true">Star Game(AI) - WIP </button>
        }
    </div>
</div>


@code {

    [Inject]
    private NavigationManager NavigationManager { get; set; } = default!;

    private bool ChooseDifficulty = false;

    private void StartGame(GameType type = GameType.Normal, Difficulty difficulty = Difficulty.Normal)
    {
        NavigationManager.NavigateTo($"{NavigationManager.BaseUri}tictactoe/board/{type}/{difficulty}");
    }


}
