.board {
    width: 27rem;
    margin: 3rem auto 0;
}

.row {
    display: grid;
    gap: 1rem;
    margin: 1rem;
}

    .row div {
        width: 9rem;
        height: 9rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #3e36ff;
        font-size: 8rem;
        color: #ecf0f1;
        border: 0.2rem solid #201579;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
    }

.menu-container {
    justify-content: center;
    display: flex;
    margin: 1rem;
    padding: 1rem;
}

.menu-button {
    width: 15rem;
    height: 5rem;
    margin: 1rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3e36ff;
    font-size: 1rem;
    color: #ecf0f1;
    border: 0.2rem solid #201579;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
